/* First container starts */

h1,
h2,
h3,
h4,
h5 {
  font-family: "Catamaran";
}
/* Navbar starts*/
.home {
  background-image: url("bg-pattern.png"),
    linear-gradient(to left, #7b4397, #dc2430);
}

.home a {
  text-decoration: none;
  color: white;
}

.spanrow .navbar-brand {
  color: #fdcc52;
  font-family: "Catamaran", Helvetica, Arial, sans-serif;
  font-size: 25px;
}

.spanrow li {
  font-family: Lato, Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
}

/* Navbar ends */

.home-article h1 {
  color: white;
  font-size: 50px;
  letter-spacing: 1px;
}

.home-article button {
  font-size: 10px;
  border-radius: 30px;
  padding: 15px 45px;
  font-family: "Lato";
}

.iphone {
  position: relative;
  width: 300px;
}

.iphone-content {
  position: absolute;
  top: 70px;
  left: 67px;
  width: 262px;
}
/* First container ends */

/* second container starts */
.discover {
  text-align: center;
  background: #fdca4b;
}

.discover img {
  cursor: pointer;
  width: 150px;
}
/* Second container ends */
